<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<h1>添加类别</h1>
<hr>
<form action="http://127.0.0.1:8080/hello/save" method="post">
    <p>
        姓名：<input type="text" name="name" />
    </p>
    <p>
        年龄：<input type="text" name="code" />
    </p>
    <p>
        性别：
        <input type="radio" name="isDelete" value="1"  checked />删除
        <input type="radio" name="isDelete" value="2" />不删除
    </p>
    <p>
        <input type="submit" value="保存" />
    </p>
</form>
</body>
</html>